/* impostazioni generali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Whitney','Helvetica Neue','Helvetica','Arial',sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.container_center {
    width: 80%;
    margin: 0 auto;
    /* debug */
    height: 100%;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.title {
    font-size: 60px;
    font-weight: bold;
}

.sx {
    float: left;
    width: 10%;
}

.dx {
    text-align: right;
    float: left;
    width: 10%;
}

.center {
    float: left;
    width: 80%;
    height: 100%;
}

/* intestazione pagina */
header {
    height: 600px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

/* menu navigazione */
#mainnav {
    height: 75px;
    padding: 10px 0;
}

#mainnav *{
    line-height: 55px;
    vertical-align: middle;
}

#logo {
    width: 100%;
}

#mainnav ul {
    text-align: center;
}

#mainnav li {
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
}

.button {
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    font-weight: bold;
}

.backblack {
    color: white ;
    background-color: black;
}

.backviolet {
    color: white ;  
    background-color: #8ea1e1;
}

/* jumbotron */
#jumbotron {
    padding: 100px 200px;
    text-align: center;
    color: white;
}

#jumbotron .title{
    margin: 50px;
}

#jumbotron p{
    font-size: 30px;
}

#jumbotron a {
    font-size: 20px;
}

/* contenuto pagina */
.content {
    padding: 50px 0;
}

.content img{
    width: 100%;
}

.backgray {
    background-color: #f6f6f6;
}

.colonna_img {
    float: left;
    width: 60%;
}

.colonna_contenuto {
    float: left;
    width: 40%;
}

#last {
    text-align: center;
}

/* footer */
footer {
    background-color: #23272a;
    padding-top: 50px;
}

footer .top {
    height: 400px;
}

footer .top h2,h3 {
    color: #7289da;
}

.footer_main {
    float: left;
    width: 32%;
}

.footer_category {
    float: left;
    width: 17%;
}

.footer_category li {
    list-style: none;
}

footer .bot {
    border-top: 1px solid #7289da;
    height: 80px;
    padding: 20px 0;
}